* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: hsl(216, 50%, 16%);
  width: 375px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 30px 30px black;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Ensure the parent container is positioned */
}
.main-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.view {
  position: absolute; /* Position it relative to the parent */
  top: 0;
  left: 0;
  width: 100%; /* Match the size of the image */
  height: 100%; /* Match the size of the image */
  background-color: rgba(0, 255, 247, 0); /* Initially transparent */
  opacity: 0; /* Initially hidden */
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; /* Match the border-radius of the image */
  pointer-events: none; /* Prevent interaction with the view element */
}

.main:hover .view {
  background-color: rgba(0, 255, 247, 0.6); /* Add the hover effect */
  opacity: 1; /* Make it visible */
}

.icon {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
}

.body {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.body h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  font-size: 18px;
  cursor: pointer;
}
.body h1:hover {
  color: hsl(178, 100%, 50%);
}
.body p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section img {
  padding-right: 8px;
}
.section h2 {
  font-size: 18px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.section .iethereum {
  color: aqua;
}

.line {
  border: 1px solid hsl(215, 32%, 27%);
}

.image-avatar {
  width: 40px;
  margin-right: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
}
.footer p {
  color: hsl(215, 51%, 70%);
}

.footer span {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.footer span:hover {
  color: hsl(178, 100%, 50%);
}
